@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.status {
	background: #cbd5e1;
	color: #1e293b;
	padding: 5px 10px;
	border-radius: 50px;
	display: inline-block;
	text-transform: capitalize;
	font-weight: 600;
	font-size:  12px;
}

.status.active,
.status.subscriber {
	color: #064e3b;
	background-color: #d1fae5;
}

.status.completed,
.status.kh_affiliate {
	color: #0c4a6e;
	background-color: #e0f2fe;
}

.status.pending,
.status.adminstrator {
	color: #164e63;
	background-color: #cffafe;
}

.status.error,
.status.failed {
	color: #881337;
	background-color: #fda4af;
}